
*.ipch
*.db
*.db-shm
*.obj
*.recipe
*.tlog
*.db-wal
*.bsc
*.ilk
*.pdb
*.htm
*.sbr
.vs/CRPI_VS2019/v16/.suo
*.exe
*.log
Debug/OptitrackLogs/OptitrackLogs_VS2019.vcxproj.FileListAbsolute.txt
.vs/CRPI_VS2019/v16/Browse.VC.opendb
